<div class="ui message">
    <form class="ui form" method="post" action="/inscriptionscontroller/do">
        <div class="field">
            <label>Nom ou Pseudo</label>
            <input type="text" name="pseudo" placeholder="Nom ou pseudo">
        </div>
        <div class="field">
            <label>Adresse Mail</label>
            <input type="text" name="email" placeholder="Email">
        </div>
        <button class="ui button" type="submit">Valider votre inscription</button>
    </form>
</div>